<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ActiveLayerIndex</key>
	<integer>0</integer>
	<key>ApplicationVersion</key>
	<array>
		<string>com.omnigroup.OmniGrafflePro</string>
		<string>139.16.0.171715</string>
	</array>
	<key>AutoAdjust</key>
	<true/>
	<key>BackgroundGraphic</key>
	<dict>
		<key>Bounds</key>
		<string>{{0, 0}, {576, 1466}}</string>
		<key>Class</key>
		<string>SolidGraphic</string>
		<key>ID</key>
		<integer>2</integer>
		<key>Style</key>
		<dict>
			<key>shadow</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
			<key>stroke</key>
			<dict>
				<key>Draws</key>
				<string>NO</string>
			</dict>
		</dict>
	</dict>
	<key>BaseZoom</key>
	<integer>0</integer>
	<key>CanvasOrigin</key>
	<string>{0, 0}</string>
	<key>ColumnAlign</key>
	<integer>1</integer>
	<key>ColumnSpacing</key>
	<real>36</real>
	<key>CreationDate</key>
	<string>2013-03-02 15:20:47 +0000</string>
	<key>Creator</key>
	<string>Jonathon Rubin</string>
	<key>DisplayScale</key>
	<string>1 0/72 in = 1 0/72 in</string>
	<key>ExportShapes</key>
	<array>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>B314DF2B-11AB-4DF3-9A83-687F6DB224DC-398-000001FD0B019C68</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.47905759162302808, 0.41474968876542484}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.47905759162303441, 0.41474967521654904}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.47905759162303663, 0.41474966170500682}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.47905759162303663, 0.41474965448432288}</string>
						<key>control2</key>
						<string>{-0.47905759162303474, 0.41474964730327291}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.47905759162303108, 0.4147496400825893}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.47905759162303629, -0.40798376184032464}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.47905759162303657, -0.45282420161007786}</string>
						<key>control2</key>
						<string>{-0.40873582458075297, -0.48917456021650874}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.3219895287958115, -0.4891745602165089}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.3219895287958115, -0.4891745602165089}</string>
						<key>control2</key>
						<string>{-0.32198952879581111, -0.4891745602165089}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.32198952879581111, -0.4891745602165089}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.33246073298429346, -0.4891745602165089}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.41920702876923466, -0.4891745602165089}</string>
						<key>control2</key>
						<string>{0.48952879581151842, -0.45282420161007808}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.48952879581151842, -0.40798376184032487}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.48952879581151842, 0.41474966170500682}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.48952879581151842, 0.45959010147475998}</string>
						<key>control2</key>
						<string>{0.41920702876923466, 0.49594046008119075}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.33246073298429346, 0.49594046008119075}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.3219895287958115, 0.49594046008119075}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.40873580713079671, 0.49594046008119075}</string>
						<key>control2</key>
						<string>{-0.47905756333106703, 0.45959011609929445}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.47905759162302808, 0.41474968876542484}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.5, -0.40257104194857918}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, -0.35385656292286877}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.48952879581151831, -0.35385656292286877}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.48952879581151831, -0.40257104194857918}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.5, -0.29702300405953996}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, -0.26184032476319352}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.48952879581151831, -0.26184032476319352}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.48952879581151831, -0.29702300405953996}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.5, -0.20906630581867391}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.5, -0.17388362652232747}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.48952879581151831, -0.17388362652232747}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.48952879581151831, -0.20906630581867391}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.17015706806282715, -0.49323410013531804}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.33769633507853358, -0.49323410013531804}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.33769633507853358, -0.49323410013531804}</string>
						<key>control2</key>
						<string>{-0.33769633507853403, -0.49323410013531804}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.33769633507853403, -0.49323410013531804}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.42155108767064403, -0.49323410013531793}</string>
						<key>control2</key>
						<string>{-0.48952879581151809, -0.45809542014910132}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.48952879581151787, -0.41474966170500654}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.48952879581151298, 0.42151554066801866}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.48952879581151654, 0.4215155476480128}</string>
						<key>control2</key>
						<string>{-0.48952879581151831, 0.42151555458969447}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.48952879581151831, 0.42151556156968883}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.48952879581151632, 0.42151557463084621}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.48952879581151004, 0.42151558777851594}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.48952879581151004, 0.4215155877785155}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.48952876840989701, 0.46486133417808395}</string>
						<key>control2</key>
						<string>{-0.42155107076983811, 0.5}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.33769633507853403, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.34816753926701582, 0.5}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.43202229185912566, 0.5}</string>
						<key>control2</key>
						<string>{0.5, 0.46486132001378344}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.5, 0.42151556156968883}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, -0.41474966170500682}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.5, -0.45809542014910165}</string>
						<key>control2</key>
						<string>{0.43202229185912566, -0.49323410013531804}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.34816753926701582, -0.49323410013531804}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.33246073298429324, -0.49323410013531804}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.33246073298429324, -0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.17015706806282727, -0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{0.17015706806282715, -0.49323410013531804}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
		<dict>
			<key>InspectorGroup</key>
			<real>255</real>
			<key>ShapeImageRect</key>
			<string>{{2, 2}, {22, 22}}</string>
			<key>ShapeName</key>
			<string>84BDAA36-91CD-4762-8AD7-01493DF6C4CF-398-000002C4BBCFF9A1</string>
			<key>ShouldExport</key>
			<string>YES</string>
			<key>StrokePath</key>
			<dict>
				<key>elements</key>
				<array>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.5, 0.42032967032967028}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.49999999999999789, 0.42032968358818035}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.4999999859015305, 0.46433038558601569}</string>
						<key>control2</key>
						<string>{-0.42981760073726349, 0.5}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.34324324324324323, 0.5}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.34324324324324329, 0.5}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.42981760943293534, 0.5}</string>
						<key>control2</key>
						<string>{0.5, 0.46433037842058522}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.5, 0.42032967032967028}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.5, -0.42032967032967039}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{0.5, -0.46433037842058528}</string>
						<key>control2</key>
						<string>{0.42981760943293534, -0.50000000000000011}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{0.34324324324324329, -0.50000000000000011}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.34324324324324279, -0.50000000000000011}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.34324324324324279, -0.50000000000000011}</string>
						<key>control2</key>
						<string>{-0.34324324324324323, -0.50000000000000011}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.34324324324324323, -0.50000000000000011}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.42981760943293518, -0.49999999999999994}</string>
						<key>control2</key>
						<string>{-0.49999999999999978, -0.464330378420585}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.49999999999999956, -0.42032967032967017}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.49999999999999445, 0.42032964911217818}</string>
					</dict>
					<dict>
						<key>control1</key>
						<string>{-0.49999999999999822, 0.42032965619763951}</string>
						<key>control2</key>
						<string>{-0.5, 0.42032966324420906}</string>
						<key>element</key>
						<string>CURVETO</string>
						<key>point</key>
						<string>{-0.5, 0.42032967032967028}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.427027027027027, -0.33379120879120883}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.43783783783783781, -0.33379120879120883}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{0.43783783783783781, 0.3255494505494505}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>LINETO</string>
						<key>point</key>
						<string>{-0.427027027027027, 0.3255494505494505}</string>
					</dict>
					<dict>
						<key>element</key>
						<string>CLOSE</string>
					</dict>
					<dict>
						<key>element</key>
						<string>MOVETO</string>
						<key>point</key>
						<string>{-0.427027027027027, -0.33379120879120883}</string>
					</dict>
				</array>
			</dict>
			<key>TextBounds</key>
			<string>{{0, 0}, {1, 1}}</string>
		</dict>
	</array>
	<key>GraphDocumentVersion</key>
	<integer>8</integer>
	<key>GraphicsList</key>
	<array>
		<dict>
			<key>Bounds</key>
			<string>{{168, 489.25}, {79, 29}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.501961</string>
					<key>r</key>
					<string>0.25098</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>70075</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red64\green128\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs48 \cf2 -0.7 lbs}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{168, 238.75}, {79, 29}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Color</key>
				<dict>
					<key>b</key>
					<string>0</string>
					<key>g</key>
					<string>0.501961</string>
					<key>r</key>
					<string>0.25098</string>
				</dict>
				<key>Font</key>
				<string>Helvetica</string>
				<key>Size</key>
				<real>24</real>
			</dict>
			<key>ID</key>
			<integer>70074</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;\red64\green128\blue0;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs48 \cf2 -2.7 lbs}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{134, 572}, {130, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>48</real>
			</dict>
			<key>ID</key>
			<integer>70073</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Futura-Medium;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs96 \cf0 209.1}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{107, 328.5}, {178, 85}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>64</real>
			</dict>
			<key>ID</key>
			<integer>70072</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Futura-Medium;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs128 \cf0 209.8}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{134, 100}, {126, 63}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>FitText</key>
			<string>YES</string>
			<key>Flow</key>
			<string>Resize</string>
			<key>FontInfo</key>
			<dict>
				<key>Font</key>
				<string>Futura-Medium</string>
				<key>Size</key>
				<real>48</real>
			</dict>
			<key>ID</key>
			<integer>70071</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Style</key>
			<dict>
				<key>fill</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>shadow</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
				<key>stroke</key>
				<dict>
					<key>Draws</key>
					<string>NO</string>
				</dict>
			</dict>
			<key>Text</key>
			<dict>
				<key>Pad</key>
				<integer>0</integer>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fnil\fcharset0 Futura-Medium;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs96 \cf0 212.5}</string>
				<key>VerticalPad</key>
				<integer>0</integer>
			</dict>
			<key>Wrap</key>
			<string>NO</string>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{348, 567.00009155273438}, {63.000198364257812, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70070</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 1/21/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{348, 531.00009155273438}, {63.000198364257812, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70069</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 1/20/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{348, 495.00009155273438}, {63.000198364257812, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70068</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 1/19/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{348, 459.00009155273438}, {63.000198364257812, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70067</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 1/18/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{348, 423.00009155273438}, {63.000198364257812, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70066</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 1/17/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{331.99996948242188, 387.00009155273438}, {79.000228881835938, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70065</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs28 \cf0 1/16/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{348.00003051757812, 135.00009155273438}, {63.000198364257812, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70064</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 1/9/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{348.00003051757812, 171.00009155273438}, {63.000198364257812, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70063</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 1/10/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{348.00003051757812, 207.00009155273438}, {63.000198364257812, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70062</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 1/11/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{348.00003051757812, 243.00009155273438}, {63.000198364257812, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70061</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 1/12/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{348.00003051757812, 279.00009155273438}, {63.000198364257812, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70060</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs24 \cf0 1/13/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{332, 315.00009155273438}, {79.000228881835938, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70059</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs28 \cf0 1/14/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{303, 351.00009155273438}, {108, 36}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70058</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Shape</key>
			<string>Rectangle</string>
			<key>Text</key>
			<dict>
				<key>Text</key>
				<string>{\rtf1\ansi\ansicpg1252\cocoartf1187\cocoasubrtf340
\cocoascreenfonts1{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\pard\tx560\tx1120\tx1680\tx2240\tx2800\tx3360\tx3920\tx4480\tx5040\tx5600\tx6160\tx6720\pardirnatural\qc

\f0\fs36 \cf0 1/15/13}</string>
			</dict>
		</dict>
		<dict>
			<key>Bounds</key>
			<string>{{139.50020762939448, 337.49999400634766}, {479.99978637695312, 63.000198364257812}}</string>
			<key>Class</key>
			<string>ShapedGraphic</string>
			<key>ID</key>
			<integer>70057</integer>
			<key>Layer</key>
			<integer>0</integer>
			<key>Rotation</key>
			<real>90</real>
			<key>Shape</key>
			<string>Bezier</string>
			<key>ShapeData</key>
			<dict>
				<key>UnitPoints</key>
				<array>
					<string>{-0.5, -0.50000000000000089}</string>
					<string>{-0.5, -0.50000000000000089}</string>
					<string>{0.5, -0.5}</string>
					<string>{0.5, -0.5}</string>
					<string>{0.5, -0.5}</string>
					<string>{0.5, 0.49999511111056805}</string>
					<string>{0.5, 0.49999511111056805}</string>
					<string>{0.1666669999999999, 0.49999511111056716}</string>
					<string>{-0.33333399999999996, 0.50000611111178994}</string>
					<string>{-0.5, 0.49999511111056716}</string>
					<string>{-0.49999899999999997, 0.49999511111056716}</string>
					<string>{-0.5, -0.50000000000000089}</string>
				</array>
			</dict>
			<key>Style</key>
			<dict>
				<key>stroke</key>
				<dict>
					<key>CornerRadius</key>
					<real>9</real>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Class</key>
			<string>Group</string>
			<key>Graphics</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{241, 662}, {24, 24}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>HelveticaNeue-Medium</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>ID</key>
							<integer>70054</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.0980392</string>
										<key>g</key>
										<string>0.0980392</string>
										<key>r</key>
										<string>0.0980392</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.8</string>
										<key>g</key>
										<string>0.8</string>
										<key>r</key>
										<string>0.8</string>
									</dict>
									<key>CornerRadius</key>
									<real>4</real>
									<key>Width</key>
									<real>2</real>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>4</integer>
								<key>VerticalPad</key>
								<integer>4</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{218, 639}, {70, 70}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>HelveticaNeue-Medium</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>ID</key>
							<integer>70055</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.0980392</string>
										<key>g</key>
										<string>0.0980392</string>
										<key>r</key>
										<string>0.0980392</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.8</string>
										<key>g</key>
										<string>0.8</string>
										<key>r</key>
										<string>0.8</string>
									</dict>
									<key>CornerRadius</key>
									<real>8</real>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>4</integer>
								<key>VerticalPad</key>
								<integer>4</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>70053</integer>
				</dict>
				<dict>
					<key>Class</key>
					<string>Group</string>
					<key>Graphics</key>
					<array>
						<dict>
							<key>Bounds</key>
							<string>{{217, 59}, {72, 16}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>HelveticaNeue-Medium</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>ID</key>
							<integer>70051</integer>
							<key>Shape</key>
							<string>Rectangle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.498039</string>
										<key>g</key>
										<string>0.498039</string>
										<key>r</key>
										<string>0.498039</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.8</string>
										<key>g</key>
										<string>0.8</string>
										<key>r</key>
										<string>0.8</string>
									</dict>
									<key>CornerRadius</key>
									<real>8</real>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>4</integer>
								<key>VerticalPad</key>
								<integer>4</integer>
							</dict>
						</dict>
						<dict>
							<key>Bounds</key>
							<string>{{180.5, 57.5}, {16, 16}}</string>
							<key>Class</key>
							<string>ShapedGraphic</string>
							<key>FontInfo</key>
							<dict>
								<key>Font</key>
								<string>HelveticaNeue-Medium</string>
								<key>Size</key>
								<real>14</real>
							</dict>
							<key>ID</key>
							<integer>70052</integer>
							<key>Shape</key>
							<string>Circle</string>
							<key>Style</key>
							<dict>
								<key>fill</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.498039</string>
										<key>g</key>
										<string>0.498039</string>
										<key>r</key>
										<string>0.498039</string>
									</dict>
								</dict>
								<key>shadow</key>
								<dict>
									<key>Draws</key>
									<string>NO</string>
								</dict>
								<key>stroke</key>
								<dict>
									<key>Color</key>
									<dict>
										<key>b</key>
										<string>0.8</string>
										<key>g</key>
										<string>0.8</string>
										<key>r</key>
										<string>0.8</string>
									</dict>
								</dict>
							</dict>
							<key>Text</key>
							<dict>
								<key>Pad</key>
								<integer>4</integer>
								<key>VerticalPad</key>
								<integer>4</integer>
							</dict>
						</dict>
					</array>
					<key>ID</key>
					<integer>70050</integer>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{58, 0}, {382, 739}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>70049</integer>
					<key>Shape</key>
					<string>B314DF2B-11AB-4DF3-9A83-687F6DB224DC-398-000001FD0B019C68</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0.8</string>
								<key>g</key>
								<string>0.8</string>
								<key>r</key>
								<string>0.8</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>4</integer>
						<key>VerticalPad</key>
						<integer>4</integer>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{58, 0}, {383, 739}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>70048</integer>
					<key>ImageID</key>
					<integer>1</integer>
					<key>Shape</key>
					<string>Rectangle</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
				</dict>
				<dict>
					<key>Bounds</key>
					<string>{{66, 8}, {370, 728}}</string>
					<key>Class</key>
					<string>ShapedGraphic</string>
					<key>ID</key>
					<integer>70047</integer>
					<key>Shape</key>
					<string>84BDAA36-91CD-4762-8AD7-01493DF6C4CF-398-000002C4BBCFF9A1</string>
					<key>Style</key>
					<dict>
						<key>fill</key>
						<dict>
							<key>Color</key>
							<dict>
								<key>b</key>
								<string>0</string>
								<key>g</key>
								<string>0</string>
								<key>r</key>
								<string>0</string>
							</dict>
						</dict>
						<key>shadow</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
						<key>stroke</key>
						<dict>
							<key>Draws</key>
							<string>NO</string>
						</dict>
					</dict>
					<key>Text</key>
					<dict>
						<key>Pad</key>
						<integer>4</integer>
						<key>VerticalPad</key>
						<integer>4</integer>
					</dict>
				</dict>
			</array>
			<key>ID</key>
			<integer>70046</integer>
			<key>Layer</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>GridInfo</key>
	<dict/>
	<key>GuidesLocked</key>
	<string>NO</string>
	<key>GuidesVisible</key>
	<string>YES</string>
	<key>HPages</key>
	<integer>1</integer>
	<key>ImageCounter</key>
	<integer>2</integer>
	<key>ImageLinkBack</key>
	<array>
		<dict/>
	</array>
	<key>ImageList</key>
	<array>
		<string>image1.pdf</string>
	</array>
	<key>KeepToScale</key>
	<false/>
	<key>Layers</key>
	<array>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 2</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
		<dict>
			<key>Lock</key>
			<string>NO</string>
			<key>Name</key>
			<string>Layer 1</string>
			<key>Print</key>
			<string>YES</string>
			<key>View</key>
			<string>YES</string>
		</dict>
	</array>
	<key>LayoutInfo</key>
	<dict>
		<key>Animate</key>
		<string>NO</string>
		<key>circoMinDist</key>
		<real>18</real>
		<key>circoSeparation</key>
		<real>0.0</real>
		<key>layoutEngine</key>
		<string>dot</string>
		<key>neatoSeparation</key>
		<real>0.0</real>
		<key>twopiSeparation</key>
		<real>0.0</real>
	</dict>
	<key>LinksVisible</key>
	<string>NO</string>
	<key>MagnetsVisible</key>
	<string>NO</string>
	<key>MasterSheets</key>
	<array/>
	<key>ModificationDate</key>
	<string>2013-03-02 15:49:52 +0000</string>
	<key>Modifier</key>
	<string>Jonathon Rubin</string>
	<key>NotesVisible</key>
	<string>NO</string>
	<key>Orientation</key>
	<integer>2</integer>
	<key>OriginVisible</key>
	<string>NO</string>
	<key>PageBreaks</key>
	<string>YES</string>
	<key>PrintInfo</key>
	<dict>
		<key>NSBottomMargin</key>
		<array>
			<string>float</string>
			<string>41</string>
		</array>
		<key>NSHorizonalPagination</key>
		<array>
			<string>coded</string>
			<string>BAtzdHJlYW10eXBlZIHoA4QBQISEhAhOU051bWJlcgCEhAdOU1ZhbHVlAISECE5TT2JqZWN0AIWEASqEhAFxlwCG</string>
		</array>
		<key>NSLeftMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSPaperSize</key>
		<array>
			<string>size</string>
			<string>{612, 792}</string>
		</array>
		<key>NSPrintReverseOrientation</key>
		<array>
			<string>int</string>
			<string>0</string>
		</array>
		<key>NSRightMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
		<key>NSTopMargin</key>
		<array>
			<string>float</string>
			<string>18</string>
		</array>
	</dict>
	<key>PrintOnePage</key>
	<false/>
	<key>ReadOnly</key>
	<string>NO</string>
	<key>RowAlign</key>
	<integer>1</integer>
	<key>RowSpacing</key>
	<real>36</real>
	<key>SheetTitle</key>
	<string>Canvas 1</string>
	<key>SmartAlignmentGuidesActive</key>
	<string>YES</string>
	<key>SmartDistanceGuidesActive</key>
	<string>YES</string>
	<key>UniqueID</key>
	<integer>1</integer>
	<key>UseEntirePage</key>
	<false/>
	<key>VPages</key>
	<integer>2</integer>
	<key>WindowInfo</key>
	<dict>
		<key>CurrentSheet</key>
		<integer>0</integer>
		<key>ExpandedCanvases</key>
		<array>
			<dict>
				<key>name</key>
				<string>Canvas 1</string>
			</dict>
		</array>
		<key>Frame</key>
		<string>{{328, 4}, {710, 742}}</string>
		<key>ListView</key>
		<true/>
		<key>OutlineWidth</key>
		<integer>142</integer>
		<key>RightSidebar</key>
		<false/>
		<key>ShowRuler</key>
		<true/>
		<key>Sidebar</key>
		<true/>
		<key>SidebarWidth</key>
		<integer>120</integer>
		<key>VisibleRegion</key>
		<string>{{0, 108}, {575, 603}}</string>
		<key>Zoom</key>
		<real>1</real>
		<key>ZoomValues</key>
		<array>
			<array>
				<string>Canvas 1</string>
				<real>1</real>
				<real>1</real>
			</array>
		</array>
	</dict>
</dict>
</plist>
